<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aini.mapper.CheckMapper">
	<select id="getCheckStudentList" parameterType="map" resultType="map">
		SELECT
			uc.class_id AS classId,
			uc.user_id AS userId,
			IFNULL(u.user_name, uc.user_id) AS userName,
			cs.status AS status,
			cs.description AS memo,
			#{classDate} AS classDate
		FROM
			(SELECT * FROM user_class WHERE class_id = #{classId} AND user_type = 'STUDENT') uc
		LEFT JOIN
			attendance cs ON uc.user_id = cs.user_id  AND cs.class_date = #{classDate}
		LEFT JOIN 
			user u ON uc.user_id = u.user_id
	</select>
	
	<update id="updateCheckStudent" parameterType="map">
		INSERT INTO attendance 
			(
			user_id, 
			class_id, 
			class_date, 
			status, 
			chg_check_date, 
			description
			)
		VALUES
			(
			#{userId}, 
			#{classId}, 
			#{classDate}, 
			#{status}, 
			#{chgCheckDate}, 
			#{memo}
			)
		ON DUPLICATE KEY UPDATE
			status=#{status}, chg_check_date=#{chgCheckDate}, description=#{memo}
	</update>
</mapper>