<div class="class-page">
    <a href="javascript:window.scrollTo(0,0);" class="scroll-top"></a>
    
    
    <div class="form-group select-wrapper">
        <div>
            <select class="form-control" ng-model="classCtrl.selectedActive" ng-change="classCtrl.onChangeActive()">
            	<option value="" disabled selected hidden>수강상태 선택</option>
				<option value="Y">수강중</option>
				<option value="N">수강종료</option>
				<option value="ALL">모두</option>
			</select>
        </div>
    </div>

    <div class="box-body load-data-wrapper">
    	<div class="no-data" ng-if="!classCtrl.selectedActive">수강상태를 선택해주세요.</div>
    	<div class="no-data" ng-if="classCtrl.selectedActive && classCtrl.classes.length < 1">강의가 없습니다.</div>
	    <div class="class-info-box" style="height:auto;" ng-repeat="classInfo in classCtrl.classes track by $index">
			<a class="class-info-edit-btn" ng-click="onPopupClassInfo(true, classInfo)"></a>
			<p class="title">{{ classInfo.className }}</p>
			<div>
				<ul class="class-info-lst">
					<li>
						<span>언어</span>
						<span>{{ getLanguageLabel(classInfo.language) }}</span>
					</li>
					<li>
						<span>수업시간</span>
						<span>{{ classInfo.classDateLabel }}</span>
					</li>
					<li>
						<span>교육기간</span>
						<span>{{ classInfo.startDateLabel + ' ~ ' + classInfo.endDateLabel }}</span>
					</li>
					<li>
						<span>총수업일</span>
						<span>{{ classInfo.dateCount + '일' }}</span>
					</li>
					<li>
						<span>수강인원</span>
						<span>{{ classInfo.studentCount + '명' }}</span>
					</li>
					<li>
						<span>담당매니저</span>
						<span>{{ classInfo.managerName }}</span>
					</li>
					<li>
						<span>담당강사</span>
						<span>{{ classInfo.teacherName }}</span>
					</li>
					<li>
						<span>E-Mail</span>
						<span>{{ classInfo.teacherEmail }}</span>
					</li>
					<li>
						<span>수강상태</span>
						<span>{{ classInfo.active=='Y' ? '수강중' : '수강종료' }}</span>
					</li>
				</ul>
			</div>
		</div>
    </div>
    <div id="save_btn" class="save-btn-wrapper fixed-box-wrapper">
        <button type="button" ng-click="onPopupClassInfo(true)"><span>강의추가</span></button>
    </div>
</div>
<report-info-directive></report-info-directive>