<div class="report-page">
    <a href="javascript:window.scrollTo(0,0);" class="scroll-top"></a>
    
    <div class="form-group select-wrapper">
        <div>
            <select class="form-control" ng-model="initialCtrl.selectedClassId" ng-change="initialCtrl.onChangeClass()" ng-options="class.classId as class.className for class in initialCtrl.classes">
			<option value="" disabled selected hidden>강의 선택</option>
		</select>
        </div>
    </div>

    <div class="box-body load-data-wrapper">
    	<div class="no-data" ng-if="!initialCtrl.selectedClassId">강의를 선택해주세요.</div>
        <ul class="rpt-wrapper">
            <li class="rpt-box" ng-repeat="student in initialCtrl.students">
                <div class="rpt-info">
                    <span class="user">{{ student.userName }}</span>
                    <div class="btn_group" style="float: right;">
                        <button type="button" class="edit-btn" ng-click="initialCtrl.onEdit($event)">수정</button>
                        <button type="button" class="save-btn" ng-click="initialCtrl.onSave($event, student)">저장</button>
                    </div>
                    <div class="initial-date">
                    	<span>최초 평가일</span>
                    	<span>|</span>
                    	<span>{{ getDateToLabel(student.firstEvaluationDate) || ' - ' }}</span>
                    </div>
                </div>
                <div class="rpt-title">
                    <span class="step-score">스텝점수</span>
                </div>
                <div class="rpt-content">
                    <div class="txt no-edit">
                    	<span class="step-score">{{ student.firstStepScore }}</span>
                    	<span class="step-score-sub">/120</span>
                    </div>
                    <div class="edit" style="display: none;">
						<select class="form-control step-score" ng-model="student.firstStepScore" ng-options="score for score in initialCtrl.stepScores" required="" style="display: inline-block;">
							<option value="" disabled selected hidden>스텝점수 선택</option>
						</select>
						<span class="step-score-sub">/120</span>
                    </div>
                </div>
                <div class="rpt-title">
                    <span class="study-goal">학습목표</span>
                </div>
                <div class="rpt-content">
                    <p class="txt no-edit"> {{ student.studyGoal }} </p>
                    <textarea cols="30" rows="10" class="txt-area edit" ng-model="student.studyGoal"></textarea>
                </div>
            </li>
        </ul>
    </div>
</div>