<div class="report-page">
    <div class="form-group select-wrapper">
        <div>
            <select class="form-control" ng-model="reportViewMainCtrl.selectedClassId" ng-change="reportViewMainCtrl.onChangeClass()" ng-options="class.classId as class.className for class in reportViewMainCtrl.classes">
			<option value="" disabled selected hidden>강의 선택</option>
		</select>
        </div>
        <div>
            <select class="form-control" style="border-left: 1px solid #d2d6de;" ng-model="reportViewMainCtrl.selectedClassMonth" ng-change="reportViewMainCtrl.onChangeDate()" ng-options="classMonth as classMonth.label for classMonth in reportViewMainCtrl.classMonths">
			<option value="" disabled selected hidden>월 선택</option>
		</select>
        </div>
    </div>

   <div class="box-body load-data-wrapper">
   		<div class="no-data" ng-if="!reportViewMainCtrl.selectedClassMonth">강의와 날짜를 선택해주세요.</div>
   		<div class="no-data" ng-if="reportViewMainCtrl.selectedClassId && reportViewMainCtrl.selectedClassMonth && reportViewMainCtrl.students.length < 1">수강생이 없습니다.</div>
        <ul class="rpt-wrapper">
            <li class="rpt-box summary" ng-repeat="student in reportViewMainCtrl.students">
                <div class="rpt-info">
                    <span class="user">{{ student.userName }}</span>
                    <div class="btn_group" style="float: right;" ng-if="student.changeDatetime">
<!--                     	<a class="class-info-edit-btn" ng-click="onPopupReportView(true, student)"></a> -->
                    	<button type="button" class="edit-btn" ng-click="reportViewMainCtrl.selectedStudent=student;onPopupReportView(true, student);">더보기</button>
                    </div>
                    <div class="initial-date">
                    	<span>평가시각</span>
                    	<span>|</span>
                    	<span>{{ getDatetimeToLabel(student.changeDatetime) || '미평가' }}</span>
                    </div>
                </div>
				 <div style="margin: 0 -5px;">
					<ul>
						<li class="score">
							<p>Test Score</p>
							<p style="vertical-align: bottom;font-size: 15px;">
								<b style="font-size:20px">{{ student.totalScore || '-' }}</b>/100
							</p>
						</li>
						<li class="rank">
							<p>상위 백분율</p>
							<p style="vertical-align: bottom;font-size: 15px;">
<!-- 								<b style="font-size:22px;">{{ student.rank || '-' }}</b>% -->
								<b style="font-size:20px;">{{ calcRankPercentage(student.stepScore, student.language) }}</b>%
								
							</p>
						</li>
						<li class="level">
							<p>스텝</p>
							<p style="vertical-align: bottom;font-size: 15px;">
								<b style="font-size:20px;">STEP {{ student.step || '-' }}</b>
							</p>
						</li>
					</ul>
				</div>               
            </li>
        </ul>
    </div>
</div>
<div id="report_view_box" class="show-hide-box-warpper fixed-box-wrapper">
	<div class="header" style="background-color:#ffffff;border-bottom: 1px solid #d2d6de;">
<!-- 		<p class="title">{{ reportViewMainCtrl.selectedClassMonth.year + '년 ' + reportViewMainCtrl.selectedClassMonth.month + '월 ' + '보고서' }}</p> -->
<!-- 		<p class="title">{{ reportViewMainCtrl.selectedStudent.userName + '님의 ' + reportViewMainCtrl.selectedClassMonth.month + '월 보고서' }}</p> -->
		<p class="title">{{ '교육 향상 분석 ' +  reportViewMainCtrl.selectedClassMonth.year + '년 ' + reportViewMainCtrl.selectedClassMonth.month + '월 ' }}</p>
		<a class="close-btn" ng-click="onPopupReportView(false)" ></a>
	</div>
	<report-view-directive class="contents"></report-view-directive>
</div>