@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
    margin: 0;
    padding: 0;
    border: 0;
	height:100%;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}
a:active {
  background-color: rgba(0, 0, 0, 0.1);
}

input:-ms-input-placeholder { color: #999; }
input::-webkit-input-placeholder { color: #999; }
input::-moz-placeholder { color: #999; }
input::-moz-placeholder { color: #999; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select:invalid {
	color: rgba(0, 0, 0, 0.5);
}

#viewport {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	font-family: "Noto Sans KR", sans-serif;
	padding-top: 85px;
}

.inquery {
/*     margin-top: 85px; */
    text-align: center;
    font-size: 40px;
    color: #333;
	font-weight: 500;
}

.inquery-desc {
    text-align: center;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.inquery-bar {
    left: 50%;
    width: 120px;
    position: relative;
    height: 5px;
    background-color: #D52229;
    border-radius: 100px;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 50px;
}

.content {
    margin-top: 45px;
    font-size: 15px;
}

.essential {
    text-align: right;
    color: #D52229;
    margin-bottom: 5px;
    font-size:14px;
}

.form {
    border-top: 2px solid #666666;
	border-bottom: 1px solid #D2D2D2;
}

.form-tbl {
    width: 100%;
}

.form-tbl tr > td {
	height: 50px	
}

.form-tbl tr > td:first-child {
	width: 150px;
	background-color: #F8F8F8;
	font-weight: 500;
	text-align: left;
	padding-left: 20px;
	color: #333;
}

.form-tbl tr > td:first-child > span {
	color: #D52229;
	margin-left: 5px;
}


.form-tbl tr > td:last-child {
    padding: 10px 15px;
    font-size: 14px;
    color: #999;
}

.form-tbl tr:first-child > td {
    padding-top: 20px;
}

.form-tbl tr:last-child > td {
    padding-bottom: 20px;
}

.form input,
.form select,
.form textarea {
    border: 1px solid #D2D2D2;
    height: 35px;
    border-radius: 3px;
    padding-left: 10px;
    color: #333;
    font-family:"Noto Sans KR", sans-serif;
    font-size: 13px;
}

.form input.calendar {
	background: url(../assets/calendar.png) no-repeat left;
    background-position-x: 10px;
    padding-left: 35px;
}

.material-datepicker {
	color: #333;
}

.split {
    font-size: 15px;
    color: #333;
}

.email {
	margin: 0 8px;	
}

.tel {
	margin: 0 6px;
}

.period,
.schedule {
	margin: 0 2px;
}

.submit-wrapper {
	width: 155px;
    height: 50px;
    margin: 0 auto;
/*     margin-top: 35px; */
}

.submit-btn {
	width: 100%;
    height: 100%;
    margin: 0;
    background: #D52229;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}

.footer {
	height: 200px;
    width: 100%;
}

.agree-wrapper {
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    color: #333;
}